:root{
   --primary-color: #c1121f;
   --secondary-color: #8d99ae;
   --tertiary-color: #2b2d42;
   --quaternary-color: #ef233c;
   --quinary-color: #370617;
}


*{
   font-family: 'Work Sans', sans-serif;
}

body{
   background-color: #ffffff;
}

.brand{
   color: var(--primary-color);
   font-size: 1.5rem;
   font-weight: 700;
   text-decoration: none;
}

.nav-item{
   font-size: 1rem;
   font-weight: 500;
   text-decoration: none;
   list-style: none;
   list-style-type: none;
   color: var(--tertiary-color);
}

.card {
   /* Add shadows to create the "card" effect */
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
 }
 
 /* On mouse-over, add a deeper shadow */
 .card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
 
 /* Add some padding inside the card container */
 .container {
   padding: 2px 16px;
 }

 a.custom-card,
a.custom-card:hover {
  color: inherit;
}