{% extends "floodlight/base.html" %}


{% block content %}


<div class="container">
   <div class="get-quote">
      <div class="row bg-light p-4 rounded-5">
         <div class="col-sm-10 col-12">
            <h3 id="quote">Applicants</h3>
         </div>
         <div class="col-sm-2 col-12">
            <a href="create_applicant">
               <button type="button" class="btn btn-danger pull-right text-nowrap rounded-5">New Applicant</button>
            </a>

         </div>
      </div>
   </div>
</div>




<div class="container mt-4">
   <form method="GET" action="{% url 'applicants' %}" class="d-flex justify-content-center">
      <div class="input-group search-bar">
         <input type="text" class="form-control" name="query" placeholder="Search applicants..." {% if query is None %} value="" {% else %} value="{{ query }}" {% endif %}>
         <select class="form-control" name="status">
            <option value="">All</option>
            <option value="approved" {% if status == 'approved' %}selected{% endif %}>Approved</option>
            <option value="under_analysis" {% if status == 'under_analysis' %}selected{% endif %}>Under Analysis</option>
            <option value="rejected" {% if status == 'rejected' %}selected{% endif %}>Rejected</option>
         </select>
         <div class="input-group-append">
            <button type="submit" class="btn btn-danger m-2">Search</button>
         </div>
      </div>
   </form>
</div>



<div class="container card-columns">



   <div class="row pt-5 mt-5" >

      {% if applicants|length == 0 %}
      <div class="col-sm-12">

            <h4 class=" text-decoration-none text-center">No applicants found.</h4>
         </div>

      </div>
      {% endif %}




      {% for applicant in applicants %}
      <div class="col-sm-4">
         <div class="card m-3 p-3">
            <img class="card-img-top" src="{{applicant.avatar.get_thumbnail_url}}">
            <h4><b>{{applicant.name}}</b></h4>
            <p>{{applicant.email}}</p>
            <a href="applicant_page/{{applicant.id}}" class=" stretched-link"></a>
         </div>
      </div>

      {% endfor %}
   </div>

</div>
{% endblock %}