{% extends "floodlight/base.html" %}
{% load static %}

{% block head %}

<style>
   img {
      float: left;
      width:  200px;
      height: 200px;
      object-fit: cover;
  }
</style>

{% endblock %}


{% block content %}


<div class="container">
   <div class="get-quote">


      <div class="bg-light p-4 rounded-5">
         <div class="row">
            <div class="col-sm-8 col-12">
               <h3 id="quote">{{applicant.name}}</h3>
               <p id="quote">{{applicant.email}}</p>
               <p id="quote">{{applicant.phone_number}}</p>
               <p id="quote" class="fw-bolder">{{applicant.status}}</p>
            </div>
            <div class="col-sm-4 col-12 d-flex justify-content-end">
               {% if applicant.avatar %}
               <img class=" img-fluid rounded-4" src="/static/images{{applicant.avatar.url}}"
                  style=" ">
               {% else %}
   
               <img class=" img-fluid rounded-4" src="/static/images/default_avatar.jpg"
                  style="">
               {% endif %}
   
            </div>
         </div>

         <div class="row p-1">
            <a href="/update_applicant/{{applicant.id}}">
               <button type="button" class="btn btn-danger pull-right text-nowrap rounded-5">Update</button>
            </a>
         </div>

         <div class="row p-1">
            <a href="/delete_applicant/{{applicant.id}}">
               <button type="button" class="btn btn-danger pull-right text-nowrap rounded-5">Delete</button>
            </a>
         </div>
         

      </div>


      <div class="row p-4">
         <div class="col-sm-10 col-12">
            <h5 id="quote" class="">Roles applied for</h5>
         </div>
         <div class="container card-columns custom-card">

            <div class="row">
               {% for application in applications %}
               <div class="col-sm-4">
                  
                     <div class="card m-3 p-3">
                        <h4 class=" text-decoration-none"><b>{{application.role}}</b></h4>


                        {% if application.status == "under_analysis" %}
                        <p class=" text-decoration-none text-warning fw-bolder">Under Analysis</p>
                        {% endif %}

                        {% if application.status == "approved" %}
                        <p class=" text-decoration-none text-success fw-bolder">Approved</p>
                        {% endif %}

                        {% if application.status == "rejected" %}
                        <p class=" text-decoration-none text-danger fw-bolder">Rejected</p>
                        {% endif %}

                        <a href="/role_page/{{application.role.id}}" class="stretched-link"></a>
                     </div>
               </div>
         
               {% endfor %}
            </div>
         
         </div>
      </div>

   </div>
</div>

{% endblock %}
