{% load static %}


<!DOCTYPE html>
<html lang="en">


<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="/static/styles.css"></script>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
   <title>Floodlight</title>

   {% block head %}
   {% endblock %}
</head>


{% block navbar %}
<nav class="navbar navbar-expand-lg">
   <a class="navbar-brand px-4 text-danger fw-bold" href="/">Floodlight</a>
   <div class="" id="navbarNav">
      <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link fw-bold" href="/home">Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link fw-bold" href="/applicants">Applicants</a>
         </li>
         <li class="nav-item">
            <a class="nav-link fw-bold" href="/roles">Roles</a>
         </li>
      </ul>
   </div>
</nav>

{% endblock %}




<body>
   {% block content %}
   {% endblock %}

</body>



</html>