{% extends "floodlight/base.html" %}
{% block content %}



<div class="container pt-4 bg-light rounded-4">
   <h3 class="text-center">New Applicant</h3>
   <form method="POST" class="applicant-form" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="text-center btn btn-danger">Submit</button>
</div>



{% endblock %}