{% extends 'floodlight/base.html' %}


{% load static %}


{% block content %}


<div class="container">
   <div class="row p-4 m-4 text-center">


      <div class="card col-5 bg-light pt-5 pb-5 rounded-4">
         <h1>Total Applicants</h1>
         <br>
         <h1>{{status.applicant_count}}</h1>
         <a href="/applicants" class="stretched-link"></a>
      </div>
      <div class="col-2">
      </div>
      <div class="card col-5 bg-light pt-5 pb-5 rounded-4">
         <h1>Open Roles</h1>
         <br>
         <h1>{{status.role_count}}</h1>
         <a href="/roles" class="stretched-link"></a>


      </div>
   </div>


   <div class="row p-4 m-4 text-center">

      <div class="card col-5 bg-light pt-5 pb-5 rounded-4 ">
         <h2 class=" text-success fw-bold">Approved</h2>
         <h3>{{status.approved_applicant_count}}</h3>
         {% for applicant in status.approved_applicants %}

         <h4 class="text-center"> {{applicant | first}} - {{applicant | last}} </h4>

         {% endfor %}



         <a href="/applicants?query=&status=approved" class="stretched-link"></a>

      </div>
      <div class="col-2">
      </div>


      <div class="card col-5 bg-light pt-5 pb-5 rounded-4 ">
         <h2 class=" text-warning fw-bold">Under Analysis</h2>
         <h3>{{status.under_analysis_applicant_count}}</h3>
         {% for applicant in status.under_analysis_applicants %}

         <h4 class="text-center"> {{applicant | first}} - {{applicant | last}} </h4>

         {% endfor %}



         <a href="/applicants?query=&status=under_analysis" class="stretched-link"></a>

      </div>

   </div>

   <div class="row p-4 m-4 text-center">

      <div class="col-3">
      </div>


      <div class="card col-6 bg-light pt-5 pb-5 rounded-4">
         <h2 class="text-danger fw-bold">Rejected</h2>
         <h3>{{status.rejected_applicant_count}}</h3>

         {% for applicant in status.rejected_applicants %}

         <h4 class="text-center"> {{applicant | first}} - {{applicant | last}} </h4>

         {% endfor %}


         <a href="/applicants?query=&status=rejected" class="stretched-link"></a>


      </div>

      <div class="col-3">
      </div>


   </div>






</div>





{% endblock %}