{% extends 'floodlight/base.html' %}

{% load static %}



{% block head %}
<style>
   body {
      background-image: url('static/images/landing_page_f.jpg');
      background-size: cover;
      min-height: 100vh;
   }
</style>

{% endblock %}


{% block navbar %}

{% endblock %}

{% block content %}



<div class="container d-flex justify-content-center align-items-center" style="height: 95vh;">
   <div class="row">
     <div class="col-md-6">
      <div class=" row">
         <div class=" row-cols-4">
            <h1 class="text-center mb-4 text-danger fw-bolder display-1">Floodlight</h1>
         </div>
   
         
         <div class="row-cols-8 ">
            <h1 class=" ml-4 mt-4 text-white">Your internship management made easy.</h1>
         </div>
      </div>
   
   
      <div class="container align-items-center text-center p-4">
         <a href="/home">
            <button class="btn btn-danger pull-right text-nowrap rounded-5 p-4" style="width: 10rem;">Get Started</button>
   
         </a>
         
      </div>
     </div>
   </div>
 </div>




{% endblock%}