{% extends "floodlight/base.html" %}

{% block content %}


<div class="container">
   <div class="get-quote">
      <div class="row bg-light p-4 rounded-5">
         <div class="col-sm-10 col-12">
            <h3 id="quote">Roles</h3>
         </div>
         <div class="col-sm-2 col-12">
            <a href="create_role">
               <button type="button" class="btn btn-danger pull-right text-nowrap rounded-5">New Role</button>
            </a>

         </div>
      </div>
   </div>
</div>


<div class="container d-flex justify-content-center mt-4">
   <form method="GET" action="{% url 'roles' %}">
      <div class="input-group search-bar">
         <input type="text" class="form-control" name="query" placeholder="Search roles..." {% if query is None %} value="" {% else %} value="{{ query }}" {% endif %}>
      </div>
   </form>
</div>




<div class="container card-columns custom-card pt-5 mt-5">


   {% if roles|length == 0 %}
      <div class="col-sm-12">

            <h4 class=" text-decoration-none text-center">No roles found.</h4>
         </div>

      </div>
      {% endif %}


   <div class="row">
      {% for role in roles %}
      <div class="col-sm-4">
         
            <div class="card m-3 p-3">
               <h4 class=" text-decoration-none"><b>{{role.name}}</b></h4>
               <a href="role_page/{{role.id}}" class="stretched-link"></a>
            </div>
            
         
      </div>

      {% endfor %}
   </div>

</div>
{% endblock %}