{% extends "floodlight/base.html" %}


{% block content %}


<div class="container">
   <div class="get-quote">
      <div class="row bg-light p-4 rounded-5">
         <div class="col-sm-10 col-12">
            <h3 id="quote">{{role.name}}</h3>
         </div>

         <div class="col-sm-2">
            <div class="row p-1">
               <a href="/update_role/{{role.id}}">
                  <button type="button" class="btn btn-danger pull-right text-nowrap rounded-5">Update</button>
               </a>
            </div>
            <div class="row p-1">
               <a href="/delete_role/{{role.id}}">
                  <button type="button" class="btn btn-danger pull-right text-nowrap rounded-5">Delete</button>
               </a>
            </div>
         </div>

      </div>
      <div class="row p-4">
         <div class="col-sm-10 col-12">
            
         </div>
      </div>
      <div class="row p-4">
         <div class="col-sm-10 col-12">
            <h5 id="quote" class="">Applicants</h5>
         </div>
      </div>

   </div>
</div>


<div class="container card-columns">

   <div class="row">
      {% for applicant in applicants%}
      <div class="col-sm-4">
         <div class="card m-3 p-3">
            <a href="/applicant_page/{{applicant.applicant.id}}" class=" text-decoration-none text-dark">
               <h4><b>{{applicant.applicant.name}}</b></h4>
            </a>
            <p>{{applicant.applicant.email}}</p>


            {% if applicant.status == "under_analysis" %}
            <p class="fw-bolder text-warning">Under Analysis</p>
            <div class="row d-flex justify-content-end text-end">
               <div class="col-sm-4">
                  <a href="/update_status/{{applicant.id}}/approved">
                     <button type="button" class="btn btn-success pull-right text-nowrap rounded-5">Approve</button>
                  </a>
               </div>
               <div class="col-sm-4">
                  <a href="/update_status/{{applicant.id}}/rejected">
                     <button type="button" class="btn btn-danger pull-right text-nowrap rounded-5">Reject</button>
                  </a>
               </div>

            </div>
            {% endif %}

            {% if applicant.status == "approved" %}
            <p class="fw-bolder text-success">Approved</p>
            <div class="row d-flex justify-content-end text-end">
               <div class="col-sm-6">
                  <a href="/update_status/{{applicant.id}}/under_analysis">
                     <button type="button" class="btn btn-warning pull-right text-nowrap rounded-5">Under
                        Analysis</button>
                  </a>
               </div>
            </div>



            {% endif %}

            {% if applicant.status == "rejected" %}
            <p class="fw-bolder text-danger">Rejected</p>
            <div class="row d-flex justify-content-end text-end">
               <div class="col-sm-6">
                  <a href="/update_status/{{applicant.id}}/under_analysis">
                     <button type="button" class="btn btn-warning pull-right text-nowrap rounded-5">Under
                        Analysis</button>
                  </a>
               </div>
            </div>
            {% endif %}





         </div>
      </div>

      {% endfor %}
   </div>

</div>
{% endblock %}